.nav-bar {
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    align-items: center;
}

button:focus {
    outline: 0;
}

span {
    font-size: 60px;
    font-family: 'Ruslan Display', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(rgb(218, 16, 22), rgb(255, 226, 60));
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logout-button span {
    font-size: 45px;
    letter-spacing: 1px;
}

.play-button {
    height: 200px;
    width: 200px;
    font-size: 45px;
    margin-right: 15%;
    background: url("/img/GW2logo.png") center center no-repeat;
    border-radius: 50%;
}

.logout-button {
    height: 200px;
    width: 200px;
    margin-left: 15%;
    background: url("/img/GW2logoRev.png") center center no-repeat;
    border-radius: 50%;
}

.play-button:hover,
.logout-button:hover {
    box-shadow: 11px 13px 36px -8px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .play-button,
    .logout-button {
        height: 100px;
        width: 100px;
    }
    span {
        font-size: 28px;
    }
    .play-button {
        font-size: 28px;
    }
    .logout-button span {
        font-size: 21px;
    }
}