.border {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
    padding: 1vh;
    
}
.board {
    flex-grow: 1;
    max-width: 668px;
    max-height: 660px;
    align-self: auto;
    flex-basis: auto;
}
.table {
    max-width: 668px;
    max-height: 660px;
}
.board-card {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom right, rgb(2, 133, 72), rgb(238, 241, 242));
    margin: 1em;
    flex: 0 0 1;
    border: 10px solid #171314;
    border-radius: 5%;
    box-shadow: 11px 13px 36px -8px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    margin: 0%;
    padding: 0%;
}
.deckPlayer1 , .deckPlayer2 {
    flex: 0 0 0;
    width: 226px;
    align-self: auto;
    flex-basis: auto;
    
}
span {
    font-size: 1em;
    font-weight: auto;
    letter-spacing: 0;
    -webkit-text-fill-color: #eeffe9;
}
h4 {
    font-size: 20px;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

p {
    font-size: 12px;
    -webkit-text-fill-color: rgb(0, 0, 0);
    font-family: sans-serif;
}
td {
    width: 220px;
    height: 220px;
    margin: 0%;
    padding: 0%;
}

td.active {
    cursor: pointer;
    background: #eeffe9;
}
.card-container {
    display: none;
}
.card-container.active {
    display: block;
    
}

.debug-ui * {
    font-size: 15px;
    font-family: 'Ruslan Display', cursive;
    font-weight: 100;
    color: black;
    -webkit-text-fill-color: rgb(0, 0, 0);
}

td.active:hover {
    background: #eeffff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    p {
        font-size: 6px;
    }
}