.deck {
    width: 204px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
    margin: 0% auto;
}

.card-container {
    flex: 1 0 0;
    overflow-y: hidden;
}

.card-container:last-child {
    flex: 0 0 auto;
}