.card {
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom right, rgb(2, 133, 72), rgb(238, 241, 242));
    
}
.numbers {
    width: 60px;
    text-align: center;
    padding-top: 0.2em;
    color: white;
    font-size: 1.6em;
    font-weight: 500;
    
}
.cardImage {
    background-size: auto 180%;
    height: 190px;
    background-position: center;
    border: solid 5px #010e025a;
}