.nav-bar {
    display: flex;
    width: 100%;
    height: 220px;
    justify-content: center;
    align-items: center;
}
span {
    font-size: 50px;
    font-family: 'Ruslan Display', cursive;
    font-weight: 500;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(rgb(218, 16, 22), rgb(255, 226, 60));
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.register-button span {
    font-size: 35px;
    letter-spacing: 1px;
}
.login-button span {
    font-size: 50px;
    letter-spacing: 1px;
}
.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-right: 15%;
    background: url("/img/GW2logo.png") center center no-repeat;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin-left: 15%;
    background: url("/img/GW2logoRev.png") center center no-repeat;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .register-button, .login-button{
        height: 120px;
        width: 120px;
    }
    span {
        font-size: 25px;
    }
    .login-button span {
        font-size: 30px;
    }
    .register-button span {
        font-size: 18px;
    }
}